<%# Container %>
<div class="bg-[#F2FFFB] rounded-t-2xl p-10 flex-grow">

  <div class="text-center">
    <h2 class="font-bold mb-5"><%= @title%></h2>
  </div>

  <%# Iterating through all the trips %>
  <div id="cards" class="grid grid-cols-1 justify-items-center">
    <%# new %>
    <% @trips.each do |trip| %>
      <%= link_to(new_trip_expense_path(trip), class: "border border-gray-200 shadow-md p-2 w-64 mb-5 rounded-xl") do %>
        <figure>
          <%=image_tag(trip.url, class: "rounded-xl")%>
        </figure>
        <div class="flex p-5 justify-around">
          <h2 class="card-title"><%=trip.country%></h2>
          <p>details</p>
        </div>
      <%end%>
    <% end %>
  </div>

  <%# Button that redirects to the new trip page %>
  <div class="flex justify-end">
    <%= link_to new_trip_path, class: "p-3 rounded-full bg-[#DDF8F0] border text-green flex items-center justify-center" do %>
    <i data-lucide="plus" class="w-6 h-6"></i>
    <% end %>
  </div>

</div>
