<% @page_title = "My trips" %>
<%# Container %>
<div class="bg-[#F2FFFB] rounded-t-2xl p-6 flex-grow">
  <div id="cards" class="grid grid-cols-1 justify-items-center max-w-md mx-auto gap-5">
    <%if @trips.any?%>
      <%# Iterating through all the trips %>
      <%= link_to new_trip_path,
          class: "w-full bg-white rounded-2xl shadow-md overflow-hidden mb-4 border border-dashed border-[#C9D2CF]" do %>
        <div class="p-6 flex flex-col items-center">
          <div class="w-12 h-12 flex items-center justify-center rounded-full bg-[#21A179] text-white mb-2">
            <i data-lucide="plus" class="w-6 h-6"></i>
          </div>
          <p class="text-sm text-[#06231B]/70">Add a new trip</p>
        </div>
      <% end %>

      <%# Iteration through all the trips %>
      <% @trips.each do |trip| %>
        <%= link_to new_trip_expense_path(trip),
            class: "w-full bg-white rounded-2xl shadow-md overflow-hidden block" do %>

          <%# Trip photo – same idea as recording page %>
          <%= image_tag trip.url,
                class: "w-full h-32 object-cover" %>

          <%# Trip info – similar to recording card %>
          <div class="p-3 flex items-start justify-between">
            <div>
              <h2 class="text-lg font-semibold text-[#06231B]">
                <%= trip.country %>
              </h2>

              <% if trip.start_date && trip.end_date %>
                <p class="text-xs text-[#06231B]/60 mt-1">
                  <%= "from #{trip.start_date.strftime('%d %b')} to #{trip.end_date.strftime('%d %b %y')}" %>
                </p>
              <% end %>
            </div>
          </div>

        <% end %>
      <% end %>

    <% else %>
      <%= link_to new_trip_path,
          class: "w-full bg-white rounded-2xl shadow-md overflow-hidden border border-dashed border-[#C9D2CF] block" do %>
        <div class="p-6 flex flex-col items-center">
          <div class="w-12 h-12 flex items-center justify-center rounded-full bg-[#21A179] text-white mb-2">
            <i data-lucide="plus" class="w-6 h-6"></i>
          </div>
          <p class="text-sm text-[#06231B]/70">Start your first trip</p>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
