<div class="navbar flex justify-between px-10 py-5 bg-[#FFFFFF]">

    <%# Trips %>
    <%= link_to(trips_path, class: "btn btn-ghost btn-circle") do %>
       <i data-lucide="tickets"></i>
    <%end%>

    <%# Dashboard %>
    <%= link_to(expenses_path, class: "btn btn-ghost btn-circle") do %>
      <i data-lucide="layout-dashboard"></i>
    <%end%>

    <%# Voice Record %>
    <%= link_to("#", class: "btn btn-circle bg-[#21A179] text-white") do %>
      <i data-lucide="mic"></i>
    <% end %>

    <%# Chat %>
    <%= link_to("#", class: "btn btn-ghost btn-circle") do %>
      <i data-lucide="message-circle"></i>
    <%end%>

    <%# Profile %>
    <%= link_to("#", class: "btn btn-ghost btn-circle") do %>
      <i data-lucide="user-round-pen"></i>
    <%end%>
</div>
