<div class="navbar max-w-[390px] flex justify-between border px-10 py-5">

    <%# Trips %>
    <%= link_to("#", class: "btn btn-ghost btn-circle") do %>
       <i data-lucide="tickets"></i>
    <%end%>

    <%# Voice Record %>
    <%= link_to("#", class: "btn btn-ghost btn-circle") do %>
      <i data-lucide="mic"></i>
    <%end%>

    <%# Dashboard %>
    <%= link_to("#", class: "btn btn-ghost btn-circle") do %>
      <i data-lucide="layout-dashboard"></i>
    <%end%>

    <%# Chat %>
    <%= link_to("#", class: "btn btn-ghost btn-circle") do %>
      <i data-lucide="message-circle"></i>
    <%end%>

    <%# Profile %>
    <%= link_to("#", class: "btn btn-ghost btn-circle") do %>
      <i data-lucide="user-round-pen"></i>
    <%end%>
</div>
