<div class="bg-[#F2FFFB] rounded-t-2xl p-10 flex-grow">

  <%# This page should show the expenses and ensure that people can confirm and update them %>
  <h1 class="font-bold text-2xl mb-4">Edit your expense</h1>

  <%# SHOW CURRENCY IN REAL DECIMALS; AND CURRENCY AMONG THE POSSIBLE ONES %>
  <%# change currencies to readable %>

  <%= form_with model: [@trip, @expense], local: true do |f| %>
    <div class="space-y-4">
      <div>
        <%= f.label :local_amount, "Amount:", class: "block font-medium" %>
        <%= f.number_field :local_amount, 
          step: "0.01",
          value: (@expense.local_amount&.to_f || nil),
          class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
      </div>
      
      <div>
        <%= f.label :local_amount_currency, "Currency:", class: "block font-medium" %>
        <%= f.text_field :local_amount_currency, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
      </div>

      <div>
        <%= f.label :category, "Category:", class: "block font-medium" %>
        <%= f.select :category, Expense::CATEGORIES, { include_blank: "Select a category" }, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
      </div>

      <div>
        <%= f.submit "Confirm Expense", class: "btn bg-blue-600 text-white" %>
      </div>
    </div>
  <% end %>
</div>