<% @page_title = "Dashboard" %>
<%# Container %>
<div class="bg-[#F2FFFB] rounded-t-2xl p-5 flex-grow">

    <%# Filters %>
  <div id="exp-filter" class="mb-5 flex justify-between">
    <h3 class="mb-3 text-xl font-bold">Overview:</h3>
    <%# Trips %>
    <div class="dropdown dropdown-end hover:scale-110">
      <div tabindex="0" role="button" class="flex items-center rounded-md p-2 text-[#21A179] border">
        <i class="h-4.5 w-4.5"data-lucide="sliders-horizontal"></i> <p class="ml-2 text-md font-semibold">Trips</p>
      </div>
      <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><%= link_to("All my trips", expenses_path("")) %></li>
        <% @filter.each do |trip|%>

          <li>
            <%= link_to(trip.country, expenses_path(country: trip.country)) %>
          </li>
        <%end%>
      </ul>
    </div>
  </div>

  <%# Summary %>
  <div id="exp-summary" class="border border-gray-300 rounded-md mb-5 bg-[#DDF8F0] p-2">
    <div class="flex justify-between">
      <div class="text-center">
        <i class="w-full" data-lucide="banknote-arrow-down"></i>
        <p class="text-center text-2xl font-semibold"><%= @summary[0].format(no_cents: true)%></p>
        <p class="italic">Spent</p>
      </div>
      <div class="text-center">
        <i class="w-full" data-lucide="wallet"></i>
        <p class="text-center text-2xl font-semibold"><%=@summary[1].format(no_cents: true)%></p>
        <p class="italic" >Budget remaining</p>
      </div>
      <div class="text-center">
        <i class="w-full" data-lucide="arrow-left-right"></i>
        <p class="text-center text-2xl font-semibold"><%=@summary[2]%></p>
        <p class="italic" >Transactions</p>
      </div>
    </div>
  </div>

  <%# Spending Pie Chart %>
  <div class="border border-gray-300 rounded-md mb-5 p-2 bg-white">

    <h3 class="pl-5 pt-5 text-xl font-bold">Spending per Category</h3>
      <p class="pl-5 mb-5 italic">(in <%=current_user.base_currency%>)</p>

    <%= pie_chart @expenses_by_category,
      donut: true,
      library: {
        cutout: "60%",
        plugins: {
          legend: {
            position: "bottom",
            labels: {
              usePointStyle: true
            }
          }
        }
      },
      colors: [
          "#4E79A7", "#F28E2B", "#E15759", "#76B7B2", "#59A14F",
          "#EDC948", "#B07AA1", "#FF9DA7", "#9C755F", "#BAB0AC",
          "#8CD17D", "#FFBE7D", "#AEDFF7", "#D0666C"
        ]

    %>

  </div>

  <%# Categories Column Chart %>
  <div class=" border border-gray-300 rounded-md mb-5 p-2 bg-white">

    <h3 class="p-5 mb-5 text-xl font-bold">Transactions per Category</h3>

    <%= column_chart @amount_by_category,
      colors: [
        "#4E79A7", "#F28E2B", "#E15759", "#76B7B2", "#59A14F",
        "#EDC948", "#B07AA1", "#FF9DA7", "#9C755F", "#BAB0AC",
        "#8CD17D", "#FFBE7D", "#AEDFF7", "#D0666C"
      ]
    %>

  </div>

  <%# Per Country Chart %>
  <div class=" border border-gray-300 rounded-md mb-5 p-2 bg-white">

    <h3 class="p-5 mb-5 text-xl font-bold">Spending per Trip</h3>

    <%= column_chart @spending_per_country,
      colors: [
        "#4E79A7", "#F28E2B", "#E15759", "#76B7B2", "#59A14F",
        "#EDC948", "#B07AA1", "#FF9DA7", "#9C755F", "#BAB0AC",
        "#8CD17D", "#FFBE7D", "#AEDFF7", "#D0666C"
      ]
    %>

  </div>

  <%# Spending by day %>
  <div class="border border-gray-300 rounded-md mb-5 p-2 bg-white">
    <h3 class="text-xl font-bold mb-3">Spending over Time</h3>

    <%= column_chart @spending_over_time,
        colors: ["#4E79A7"]
    %>
  </div>

  <%# Sub-Title %>
  <h3 class="mb-5 text-xl font-bold">Recent Expenses</h3>

  <%# Cards %>
  <div id="exp-recent-cards" class="mb-5">
    <ul>
      <% @expenses.each do |expense| %>
      <li class="flex border border-gray-300 rounded-md mb-2 bg-white">
        <div id="logo" class="rounded-l-md p-4 flex justify-center items-center bg-[#ddf8f0]">
          <i data-lucide=<%=expense_icons(expense.category)%>></i>
        </div>

        <div id="location-date" class="flex-grow p-2">
          <div class="flex">
            <p class="text-xl font-semibold"><%=expense.category%></p>
          </div>
          <div>
            <p class="text-sm"><%= expense.created_at.strftime("%d/%m/%Y")%> in <%= expense.trip.country %> </p>
          </div>
        </div>
        <div id="price-category" class="p-2">
          <p class="text-xl text-red-700 font-semibold">-<%=expense.base_amount.format%></p>
          <p></p>
        </div>
      </li>

      <%end%>
    </ul>
  </div>

</div>


<%# expense.trip.country_acronym(expense.trip.country) %>
