<%# LOGO %>
<div class="flex justify-between my-10 mx-3">
  <h1 class="text-5xl font-semibold text-white">SayPay</h1>
  <%= link_to "#", class: "p-3 rounded-full bg-[#21A179] text-white flex items-center justify-center" do %>
  <%# <i data-lucide="ellipsis-vertical"></i> %>
  <i data-lucide="text-align-justify"></i>
  <% end %>
</div>


<%# Container %>
<div class="bg-[#F2FFFB] rounded-t-2xl p-10 flex-grow">
  <%# SayPay Logo %>
  <h1 class="mb-5 text-5xl font-bold">SayPay</h1>

  <%# Summary %>
  <div id="exp-summary" class="border border-gray-300 rounded-md mb-5 bg-[#DDF8F0] p-2">
    <h3 class="mb-3 text-md font-bold">Trip Summary:</h3>
    <div class="flex justify-between">
      <div>
        <p class="text-center"><%=@summary[0]%> €</p>
        <p>total spent</p>
      </div>
      <div>
        <p class="text-center"><%=@summary[1]%> €</p>
        <p>Remaining</p>
      </div>
      <div>
        <p class="text-center"><%=@summary[2]%></p>
        <p>Transactions</p>
      </div>
    </div>
  </div>

  <%# Filters %>
  <div id="exp-filter" class="flex justify-around mb-5 border">
    <div class="border border-gray-300 rounded-md p-2">Trips</div>
    <div class="border border-gray-300 rounded-md p-2">Category</div>
  </div>

  <%# Sub-Title %>
  <h3 class="mb-5 text-xl font-bold">Recent Expenses</h3>

  <%# Cards %>
  <div id="exp-recent-cards" class="mb-5">
    <ul>
      <%@expenses.each do |expense|%>
      <li class="flex border border-gray-300 rounded-md mb-2 p-2">
        <div id="logo" class="logo p-2">
          <p>Logo</p>
          <p>Flag</p>
        </div>
        <div id="location-date" class="flex-grow p-2">
          <p>restaurant name</p>
          <p>date</p>
        </div>
        <div id="price-category" class="p-2">
          <p><%=expense.base_amount%> €</p>
          <p><%=expense.category%></p>
        </div>
      </li>

      <%end%>
    </ul>
  </div>

  <%# Sub-Title %>
  <h3 class="mb-5 text-xl font-bold">Spending Breakdown</h3>

  <%# Pie Chart %>
  <div id="exp-piechart" class="p-20 border border-gray-300 rounded-md mb-5">Pie chart here</div>

  <%# Sub-Title %>
  <h3 class="mb-5 text-xl font-bold">Spending overtime</h3>

  <%# Graph Chart %>
  <div id="exp-graph" class="p-20 border border-gray-300 rounded-md"> graph here</div>

</div>


<%# TO DO %>
<%# add currency sign to expense table or link it to base_currency %>
<%# add date to expense table %>
<%# add logo to category %>
