<% @page_title = "Dashboard" %>
<%# Container %>
<div class="bg-[#F2FFFB] rounded-t-2xl p-10 flex-grow">

  <%# Summary %>
  <div id="exp-summary" class="border border-gray-300 rounded-md mb-5 bg-[#DDF8F0] p-2">
    <h3 class="mb-3 text-md font-bold">Overview:</h3>
    <div class="flex justify-between">
      <div class="text-center">
        <i class="w-full" data-lucide="dollar-sign"></i>
        <p><%= @summary[0].format%></p>
        <p class="italic">total spent</p>
      </div>
      <div>
        <i class="w-full" data-lucide="wallet"></i>
        <p class="text-center"><%=@summary[1].format%></p>
        <p class="italic" >Remaining</p>
      </div>
      <div>
        <i class="w-full" data-lucide="arrow-left-right"></i>
        <p class="text-center"><%=@summary[2]%></p>
        <p class="italic" >Transactions</p>
      </div>
    </div>
  </div>

  <%# Filters %>
  <div id="exp-filter" class="mb-5">
    <%# Trips %>
    <div class="dropdown dropdown-start hover:scale-110">
      <div tabindex="0" role="button" class="flex items-center rounded-md p-2 text-[#21A179] border">
        <i data-lucide="sliders-horizontal"></i> <p class="ml-2 text-xl font-semibold">Filters</p>
      </div>
      <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><%= link_to("All my trips", expenses_path("")) %></li>
        <% @filter.each do |trip|%>

          <li>
            <%= link_to(trip.country, expenses_path(country: trip.country)) %>
          </li>
        <%end%>
      </ul>
    </div>
  </div>

  <%# Spending Pie Chart %>
  <div class="border border-gray-300 rounded-md mb-5 p-2">

    <h3 class="p-5 mb-5 text-xl font-bold">Spending</h3>

    <%= pie_chart @expenses_by_category,
      donut: true,
      library: {
        cutout: "70%",
        plugins: {
          legend: {
            position: "bottom",
            labels: {
              usePointStyle: true
            }
          }
        }
      },
      colors: [
          "#4E79A7", "#F28E2B", "#E15759", "#76B7B2", "#59A14F",
          "#EDC948", "#B07AA1", "#FF9DA7", "#9C755F", "#BAB0AC",
          "#8CD17D", "#FFBE7D", "#AEDFF7", "#D0666C"
        ]
    %>

  </div>


  <%# Categories Column Chart %>
  <div class=" border border-gray-300 rounded-md mb-5 p-2">

    <h3 class="p-5 mb-5 text-xl font-bold">Popular Categories</h3>

    <%= column_chart @amount_by_category,
      colors: [
        "#4E79A7", "#F28E2B", "#E15759", "#76B7B2", "#59A14F",
        "#EDC948", "#B07AA1", "#FF9DA7", "#9C755F", "#BAB0AC",
        "#8CD17D", "#FFBE7D", "#AEDFF7", "#D0666C"
      ]
    %>

  </div>

  <%# Per Country Chart %>
  <div class=" border border-gray-300 rounded-md mb-5 p-2">

    <h3 class="p-5 mb-5 text-xl font-bold">Per Trip</h3>

    <%= column_chart @spending_per_country,
      colors: [
        "#4E79A7", "#F28E2B", "#E15759", "#76B7B2", "#59A14F",
        "#EDC948", "#B07AA1", "#FF9DA7", "#9C755F", "#BAB0AC",
        "#8CD17D", "#FFBE7D", "#AEDFF7", "#D0666C"
      ]
    %>

  </div>

  <%# Spending by day %>
  <div class="border border-gray-300 rounded-md mb-5 p-2">
    <h3 class="text-xl font-bold mb-3">Spending Over Time</h3>

    <%= column_chart @spending_over_time,
        colors: ["#4E79A7"]
    %>
  </div>

  <%# Sub-Title %>
  <h3 class="mb-5 text-xl font-bold">Recent Expenses</h3>

  <%# Cards %>
  <div id="exp-recent-cards" class="mb-5">
    <ul>
      <% @expenses.each do |expense| %>
      <li class="flex border border-gray-300 rounded-md mb-2 p-2">
        <div id="logo" class="p-2 border-r">
          <p><%= expense.trip.country_acronym(expense.trip.country)%></p>
          <hr>
        </div>

        <div id="location-date" class="flex-grow p-2">
          <p><%=expense.category%></p>
          <p><%= expense.created_at.strftime("%d %B %Y at %-l:%M %p")%></p>
        </div>
        <div id="price-category" class="p-2">
          <p><%=expense.local_amount.format%></p>
          <p></p>
        </div>
      </li>

      <%end%>
    </ul>
  </div>

</div>
