<!DOCTYPE html>
<html>
  <head>
    <title>SayPay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# Importing the Lucide icons into the project %>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
    <script>
      document.addEventListener("turbo:load", () => {
        lucide.createIcons();
      });
    </script>

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>


  </head>
  <body>
    <%= render "shared/flashes" %>

    <% if show_nav_and_header? %>
      <div class="h-screen flex flex-col bg-[#21A179]">

        <%# HEADER %>
        <header>
          <%= render "shared/header_logged" %>
        </header>

        <%# MAIN CONTENT (scrolls above navbar) %>
        <main class="flex flex-col flex-1 bg-[#F2FFFB] rounded-t-2xl overflow-auto">
          <%= yield %>
        </main>

        <%# NAVBAR (always visible) %>
        <nav class="bg-white z-50 border-t border-gray-200">
          <%= render "shared/navbar_logged" %>
        </nav>

      </div>

    <% else %>

      <div class="h-screen flex flex-col">

        <%# HEADER %>
        <header class="z-50 bg-base-100 shadow-sm">
          <%= render "shared/header_public" %>
        </header>

      <%# HOME PAGE (no navbar) %>
        <main class="flex-1 overflow-auto">
          <%= yield %>
        </main>
      </div>
    <% end %>

  </body>
</html>
