<!DOCTYPE html>
<html>
  <head>
    <title>SayPay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# Importing the Lucide icons into the project %>
      <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
      <script>
        document.addEventListener("turbo:load", () => {
          lucide.createIcons();
        });
      </script>

  </head>
<body>

  <% if show_nav_and_header? %>
    <div class="min-h-screen flex flex-col bg-[#21A179]">

      <%# HEADER %>
      <header>
        <%= render "shared/header" %>
      </header>

      <%# MAIN CONTENT (scrolls above navbar) %>
      <main class="flex-1 overflow-y-auto bg-[#F2FFFB] rounded-t-2xl pb-20">
        <%= yield %>
      </main>

      <%# NAVBAR (always visible) %>
      <nav class="fixed bottom-0 left-0 right-0 bg-white z-50 border-t border-gray-200">
        <%= render "shared/navbar_logged" %>
      </nav>

    </div>

  <% else %>
    <%# HOME PAGE (no header, no navbar) %>
    <%= yield %>
  <% end %>

</body>
</html>
